@import "../variables.scss";

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: $font-family-base;
  gap: 139px;

  h1 {
    font-size: $font-size-xxxlarge;
    color: $colorRed;
    margin: 0;
  }
  p {
    font-size: 36px;
    color: $colorRed;
    margin: 0;
  }

  .home {
    font-family: $font-family-base;
    font-size: $font-size-base;
    padding-bottom: 139px;
  }
}

@media (min-width: 375px) and (max-width: 768px) {
  .error {
    h1 {
      font-size: 96px;
      margin-top: 113px;
    }
    p {
      font-size: $font-size-base;
    }
    .home {
      font-size: $font-size-small;
      padding-bottom: 113px;
    }
  }
}
