@import "../variables.scss";

.card {
  position: relative;

  .card-cover {
    width: $dimensionCard;
    height: $dimensionCard;
    border-radius: $borderRadiusCard;
  }

  .card-title {
    position: absolute;
    width: 95%;
    bottom: 10px;
    left: 10px;
    color: $colorWhite;
    font-size: $font-size-small;
    font-family: $font-family-base;
    font-weight: $font-style;
    padding: 5px;
  }
}
