@import "../variables.scss";

.card-content {
  background-color: $backgroundColor;
  border-radius: $borderRadius;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    margin-top: 55px;
    margin-bottom: 55px;
    padding: 55px;
    row-gap: 55px;
    gap: 55px;
  }
}
@media (min-width: 375px) and (max-width: 768px) {
  .card-content {
    background-color: transparent;
    margin: 0;

    .cards {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      border-radius: $borderRadiusmin;
      margin-top: 0px;
      margin-bottom: 22px;
      padding: 20px;
      gap: 20px;
    }
  }
}
