@import "../variables.scss";

.content-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 38px;

  .collapse-header {
    width: 100%;
  }
  .collapse-content {
    width: 1023px;
  }
}
@media (min-width: 375px) and (max-width: 768px) {
  .content-about {
    .collapse-content {
      width: 335px;
    }
  }
}
